body {
  margin: 0;
}
.app-wrapper {
  min-height: 100vh;
  font-family: "Courier New", Courier, monospace;
  background-image: url("./img/19.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 5px;
  padding-top: 20px;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
}

a {
  color: #01161e;
}

b {
  margin-bottom: 1em;
}

.card {
  border: 1px dotted #01161e;
  padding: 2em;
  margin-bottom: 0.5em;
  background-color: #f1e6e6;
}

.header {
  text-align: center;
  background-color: rgb(166, 142, 135, 70%);
  border: 1px dotted #01161e;
  margin-bottom: 10px;
}

.footer {
  background-color: rgb(166, 142, 135, 70%);
  border: 1px dotted #01161e;
  padding: 10px;
}

nav {
  /* background-color: #a68e87; */
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.social {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  align-items: center;
}

.social img {
  max-width: 40px;
}

.contact form {
  display: grid;
}

.contact label {
  margin-top: 1em;
}

.contact input,
.contact textarea {
  padding: 5px;
  font-family: "Courier New", Courier, monospace;
  height: auto;
}

.contact button {
  margin: 2em 0;
  padding: 5px;
  font-family: "Courier New", Courier, monospace;
}

.credit {
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.about-grid {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 20px;
  place-items: center;
}

.about-grid img {
  width: 100%;
  max-width: 70px;
  margin: 0 auto;
}

.kofi-wrapper {
  text-align: center;
  margin-top: 10px;
}
